.header {
  background: #6a11cb;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  background: white;
  color: #6a11cb;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right button {
  background: white;
  color: #6a11cb;
  border: none;
  padding: 6px 12px;
  border-radius: 16px;
  cursor: pointer;
}

.app {
  display: flex;
  min-height: calc(100vh - 50px);
  background: #f3edff;
}

.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.sidebar li.active {
  background: #f1e9ff;
  color: #6a11cb;
}

.main {
  flex: 1;
  padding: 25px;
}

.navbar h2 {
  margin-bottom: 5px;
}

.navbar p {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.stats-card {
  background: white;
  padding: 15px;
  width: 160px;
  border-radius: 15px;
}

.stats-icon {
  color: #6a11cb;
  font-size: 22px;
  margin-bottom: 8px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.info-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-card button {
  background: #f1e9ff;
  border: none;
  padding: 6px 14px;
  border-radius: 14px;
  color: #6a11cb;
  cursor: pointer;
}